<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-topic-fabulous-heading" jhiTranslate="wlApp.topicFabulous.home.createOrEditLabel">Create or edit a Topic Fabulous</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!topicFabulous.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="topicFabulous.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wlApp.topicFabulous.oDateTime" for="field_oDateTime">O Date Time</label>
                    <div class="d-flex">
                        <input id="field_oDateTime" type="datetime-local" class="form-control" name="oDateTime" [(ngModel)]="oDateTime"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.oDateTime?.dirty && editForm.controls.oDateTime?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.oDateTime?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.oDateTime?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wlApp.topicFabulous.topic" for="field_topic">Topic</label>
                    <select class="form-control" id="field_topic" name="topic" [(ngModel)]="topicFabulous.topic" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="topicOption.id === topicFabulous.topic?.id ? topicFabulous.topic : topicOption" *ngFor="let topicOption of topics; trackBy: trackTopicById">{{topicOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wlApp.topicFabulous.userInfo" for="field_userInfo">User Info</label>
                    <select class="form-control" id="field_userInfo" name="userInfo" [(ngModel)]="topicFabulous.userInfo" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userInfoOption.id === topicFabulous.userInfo?.id ? topicFabulous.userInfo : userInfoOption" *ngFor="let userInfoOption of userinfos; trackBy: trackUserInfoById">{{userInfoOption.fullname}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
