<div>
    <h2 id="page-heading">
        <span jhiTranslate="wlApp.sysRecruitmentInformation.home.title">Sys Recruitment Informations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sys-recruitment-information" [routerLink]="['/sys-recruitment-information/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="wlApp.sysRecruitmentInformation.home.createLabel">
            Create new Sys Recruitment Information
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'wlApp.sysRecruitmentInformation.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sysRecruitmentInformations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th jhiSortBy="category"><span jhiTranslate="wlApp.sysRecruitmentInformation.category">Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="categoryName"><span jhiTranslate="wlApp.sysRecruitmentInformation.categoryName">Category Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nature"><span jhiTranslate="wlApp.sysRecruitmentInformation.nature">Nature</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="salaryStart"><span jhiTranslate="wlApp.sysRecruitmentInformation.salaryStart">Salary Start</span> <fa-icon [icon]="'sort'"></fa-icon></th>

            <th jhiSortBy="addrCity"><span jhiTranslate="wlApp.sysRecruitmentInformation.addrCity">Addr City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="experience"><span jhiTranslate="wlApp.sysRecruitmentInformation.experience">Experience</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="peopleCount"><span jhiTranslate="wlApp.sysRecruitmentInformation.peopleCount">PeopleCount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="education"><span jhiTranslate="wlApp.sysRecruitmentInformation.education">Education</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="status"><span jhiTranslate="wlApp.sysRecruitmentInformation.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>

            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sysRecruitmentInformation of sysRecruitmentInformations ;trackBy: trackId;let i = index">
                <td>{{i+1}}</td>
                <td>{{sysRecruitmentInformation.category}}</td>
                <td><a [routerLink]="['/sys-recruitment-information', sysRecruitmentInformation.id, 'view' ]">{{sysRecruitmentInformation.categoryName}}</a></td>
                <td>{{sysRecruitmentInformation.nature}}</td>
                <td>{{sysRecruitmentInformation.salaryStart}}K-{{sysRecruitmentInformation.salaryEnd}}K</td>
                <td>{{sysRecruitmentInformation.addrCity}}</td>
                <td>{{sysRecruitmentInformation.experience}}</td>
                <td>{{sysRecruitmentInformation.peopleCount}}</td>
                <td>{{sysRecruitmentInformation.education}}</td>
                <td>{{sysRecruitmentInformation.status === '1' ? '草稿' : '已发布'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sys-recruitment-information', sysRecruitmentInformation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sys-recruitment-information', sysRecruitmentInformation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sys-recruitment-information/'+ sysRecruitmentInformation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sysRecruitmentInformations && sysRecruitmentInformations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
