<div>
    <h2 id="page-heading" [hidden]="true">
        <span jhiTranslate="wlApp.integralRule.home.title">Integral Rules</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-integral-rule" [routerLink]="['/integral-rule/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="wlApp.integralRule.home.createLabel">
            Create new Integral Rule
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="integralRules">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th jhiSortBy="code"><span jhiTranslate="wlApp.integralRule.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="wlApp.integralRule.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="value"><span jhiTranslate="wlApp.integralRule.value">Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="wlApp.integralRule.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let integralRule of integralRules ;trackBy: trackId;let i = index">
                <td>{{i+1}}</td>
                <td>{{integralRule.code}}</td>
                <td>{{integralRule.name}}</td>
                <td>{{'wlApp.IntegralRuleType.' + integralRule.integralRuleType | translate}}{{integralRule.value}}</td>
                <td>{{integralRule.remark}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" [hidden]="true"
                                [routerLink]="['/integral-rule', integralRule.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/integral-rule', integralRule.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" [hidden]="true"
                                [routerLink]="['/', { outlets: { popup: 'integral-rule/'+ integralRule.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
