<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="topicFabulous">
            <h2><span jhiTranslate="wlApp.topicFabulous.detail.title">Topic Fabulous</span> {{topicFabulous.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wlApp.topicFabulous.oDateTime">O Date Time</span></dt>
                <dd>
                    <span>{{topicFabulous.oDateTime}}</span>
                </dd>
                <dt><span jhiTranslate="wlApp.topicFabulous.topic">Topic</span></dt>
                <dd>
                    <div *ngIf="topicFabulous.topic">
                        <a [routerLink]="['/topic', topicFabulous.topic?.id, 'view']">{{topicFabulous.topic?.title}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="wlApp.topicFabulous.userInfo">User Info</span></dt>
                <dd>
                    <div *ngIf="topicFabulous.userInfo">
                        <a [routerLink]="['/user-info', topicFabulous.userInfo?.id, 'view']">{{topicFabulous.userInfo?.fullname}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/topic-fabulous', topicFabulous.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
