<div>
    <h2 id="page-heading">
        <span jhiTranslate="wlApp.userDdnFavorites.home.title">User Ddn Favorites</span>
        <button [hidden]="true" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-ddn-favorites" [routerLink]="['/user-ddn-favorites/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="wlApp.userDdnFavorites.home.createLabel">
            Create new User Ddn Favorites
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'wlApp.userDdnFavorites.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userDdnFavorites">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th jhiSortBy="ddn.name"><span jhiTranslate="wlApp.userDdnFavorites.ddn">Ddn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userInfo.fullname"><span jhiTranslate="wlApp.userDdnFavorites.userInfo">User Info</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userDdnFavorites of userDdnFavorites ;trackBy: trackId;let i = index">
                <td>{{i+1}}</td>
                <td>
                    <div *ngIf="userDdnFavorites.ddn">
                        <a [routerLink]="['../logistics-ddn', userDdnFavorites.ddn?.id, 'view' ]" >{{userDdnFavorites.ddn?.title}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="userDdnFavorites.userInfo">
                        <a [routerLink]="['../user-info', userDdnFavorites.userInfo?.id, 'view' ]" >{{userDdnFavorites.userInfo?.fullname}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-ddn-favorites', userDdnFavorites.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-ddn-favorites', userDdnFavorites.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-ddn-favorites/'+ userDdnFavorites.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="userDdnFavorites && userDdnFavorites.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
