<div>
    <h2 id="page-heading">
        <span jhiTranslate="wlApp.logisticsDdnWWW.home.title">Logistics Ddn WWWS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-logistics-ddn-www" [routerLink]="['/logistics-ddn-www/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="wlApp.logisticsDdnWWW.home.createLabel">
            Create new Logistics Ddn WWW
            </span>
        </button>
    </h2>
    <span  class="batch-upload" style="margin-right: 10px;height:20px">
            <fa-icon [icon]="'tasks'"></fa-icon>
            <span class="d-none d-md-inline">批量导入网点</span>
        </span>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'wlApp.logisticsDdnWWW.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="logisticsDdnWWWS">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="wlApp.logisticsDdnWWW.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th jhiSortBy="logisticsDdn.title"><span jhiTranslate="wlApp.logisticsDdnWWW.logisticsDdn">Logistics Ddn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                <th><span>经理名称</span></th>
                <th><span>联系人</span></th>
                <th jhiSortBy="mobilePhone"><span jhiTranslate="wlApp.logisticsDdnWWW.mobilePhone">Mobile Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phone"><span jhiTranslate="wlApp.logisticsDdnWWW.phone">Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="wlApp.logisticsDdnWWW.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="wlApp.logisticsDdnWWW.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>

            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let logisticsDdnWWW of logisticsDdnWWWS ;trackBy: trackId;let i = index">
                <td>{{i+1}}</td>
                <td>{{logisticsDdnWWW.name}}</td>
                <td>
                    <div *ngIf="logisticsDdnWWW.logisticsDdn">
                        <a [routerLink]="['../logistics-ddn', logisticsDdnWWW.logisticsDdn?.id, 'view' ]" >{{logisticsDdnWWW.logisticsDdn?.title}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="logisticsDdnWWW.logisticsDdn">
                        {{logisticsDdnWWW.logisticsDdn?.managerFullname}}
                    </div>
                </td>
                <td>
                    {{logisticsDdnWWW.contacts}}
                </td>
                <td>{{logisticsDdnWWW.mobilePhone}}</td>
                <td>{{logisticsDdnWWW.phone}}</td>
                <td>{{logisticsDdnWWW.remark}}</td>
                <td jhiTranslate="{{'wlApp.Status.' + logisticsDdnWWW.status}}">{{logisticsDdnWWW.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/logistics-ddn-www', logisticsDdnWWW.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/logistics-ddn-www', logisticsDdnWWW.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'logistics-ddn-www/'+ logisticsDdnWWW.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="logisticsDdnWWWS && logisticsDdnWWWS.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
