<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-topic-heading" jhiTranslate="wlApp.topic.home.createOrEditLabel">Create or edit a Topic</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="true">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="topic.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wlApp.topic.title" for="field_title" [ngbTooltip]="'wlApp.topic.help.title' | translate">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="topic.title" required maxlength="100"/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.title?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wlApp.topic.content" for="field_content" [ngbTooltip]="'wlApp.topic.help.content' | translate">Content</label>
                    <input type="text" class="form-control" name="content" id="field_content"
                        [(ngModel)]="topic.content" [hidden]="true"/>
                    <div id="description-editor">
                        <div [innerHTML]="topic.content | safeHtml"></div>
                    </div>
                    <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.content?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.content?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 500 }">
                        This field cannot be longer than 500 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wlApp.topic.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="topic.status" id="field_status"  required>
                        <option value="ENABLE">{{'wlApp.Status.ENABLE' | translate}}</option>
                        <option value="DISABLE">{{'wlApp.Status.DISABLE' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
